
@{
    ViewData["Title"] = "ChangeLogin";
    Layout = "~/Views/UserLayout.cshtml";
}

@if (TempData["Namak"] != null)
{
    <p class="text-danger">@TempData["Namak"]</p>
}
<h1>Change Password</h1>
<form method="post" action="/user/ChangePassword">
    <div class=" form-group">
        <label> Old password</label>
        <input class=" form-control" placeholder="insert old password" name="OldPassword" />
    </div>
    <div class=" form-group">
        <label> New password</label>
        <input class="form-control" placeholder=" insert new password" name="NewPassword" />

    </div>
    <button class=" btn btn-warning btn-lg"> Change</button>

</form>
