
@{
    ViewData["Title"] = "Friends";
    Layout = "~/Views/UserLayout.cshtml";
}

<h1>Friends</h1>
<form class="col-md-6" action="/User/Addfriend" method="post">
    <button> Add friend</button>
</form>

