
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/UserLayout.cshtml";
}

<h1>Settings</h1>
<ul>
    <li><a href="/user/ChangePassword"> Change Password  </a></li>
    <li><a href="/user/ChangeLogin"> Change Login  </a></li>
    <li><a href="/User/ChangePhoto"> ChangePhoto </a></li>
</ul>



